<h1>Magic 8 Ball</h1>

<div class="menu">
    <div>
        <a href="/">back</a>
    </div>
    <div class="form">
        <form action="/eightball/answer">
            <label>
                <h2>Ask me something</h2> <br> <br>
                <input type="text">
            </label>
            <input type="submit" value="Submit Question">
        </form>
    </div>
    
</div>

