<h2>ENTER CALCULATION DETAILS</h2>

<form action="/calc/result">
    <label>
    First Number:
    <input type="text" name="number">
    </label>

    <label>
    Operator:
    <input type="text" name="operator">
    </label>

    <label>
    Second Number:
    <input type="text" name="snumber">
    </label>

    <button>Calculate</button>
</form>