<h1>Hey, Fancy Business guy!</h1>

<p>Look up your favorite stonk here:</p>

<form action="/stocks/lookup">
    <label>
        <input type="text" name="stock_symbol">
    </label>
    <input type="submit" value="Lookup">
</form>

<br>

<img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia3.giphy.com%2Fmedia%2FYnkMcHgNIMW4Yfmjxr%2Fgiphy.gif%3Fcid%3D6104955e4496ed2db4751ac99127b639c2da9adc99f33a7d%26rid%3Dgiphy.gif" alt="">