<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fantastic Sinatra Site!</title>
</head>
<body>
    <nav>
        <marquee>
            WORLD'S BEST SITE
        </marquee>
    </nav>

    <!-- insert the actual ERB template that i asked for, here> -->
    <%= yield %>

    <footer>
        &copy; Crooner Productions 2019
    </footer>
</body>

</html>