<h2>Movie Search</h2>

<form action="/movies/search">
    <label>
        Search Text:
        <input type="text" name="search_text">

        <input type="submit" value="Search">
    </label>
</form>