<h1>Rock Paper or Scissors?</h1>

<div class="menu">
    <form action="/rps/throw">
        <input type="submit" name="throw" value="Rock">
        <input type="submit" name="throw" value="Paper">
        <input type="submit" name="throw" value="Scissors">
    </form>
    <br><br>
    <a href="/">back</a>
</div>