<h1>Welcome to my site</h1>

<!-- Shouldn't hotlink -->
<!-- <img src="https://ruinmyweek.com/wp-content/uploads/2016/03/the-best-funniest-photos-kids-middle-finger-Finger-Angry-Kid.jpg" alt=""> -->

<!-- <img src="/assets/funny.jpg" alt=""> -->

<!-- using rails helper tag to generate the HTML -->
<%= image_tag 'funny.jpg', alt: 'kid giving finger', class: 'lol' %>