<h2>Let's Calculate!</h2>

<form action="/calc/result">
    <label>
        First Number: <input type="text" name="first_num">
    </label>

    <label>
        Operation:
        <select name="op">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option value="*">*</option>
        </select>
    </label>

    <label>
        Second Number: <input type="text" name="second_num">
    </label>

    <input type="submit" value="Calculate!">
</form>