<h1>Games on Rails</h1>

<div class="menu">
    <div>
        <a href="/eightball">Magic 8-Ball</a>
    </div>
    <div>
        <a href="/secret">Secret Number</a>
    </div>
    <div>
        <a href="/rps">Rock Paper Scissors</a>
    </div>
</div>